@import "./reset";
@import "./themes/dark";
@import "./themes/normal";
@import "./variables/global";

.app {
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  overflow: auto;
  font: var(--font-m);
}

.app_redesigned {
  background-color: var(--bg-color-redesigned);
  color: var(--main-font-color);
  min-height: 100vh;
  overflow: auto;
  font: var(--font-base);
}

.main {
  display: flex;
}

._ibg {
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}