@import "./reset";
@import "./themes/dark";
@import "./themes/normal";
@import "./variables/global";

body {
  font: var(--font-m);
}

.app {
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  overflow: auto;
}

.main {
  display: flex;
}

.page-content {
  flex: 1;
  width: 100%;
  padding: 10px;
}