@import "./reset";
@import "./themes/dark";
@import "./themes/normal";
@import "./themes/blue";
@import "./variables/global";

body {
  font: var(--font-m);
}

.app {
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  overflow: auto;
}

.main {
  display: flex;
}

._ibg {
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}