.Input {
  appearance: none;
  border: 1px solid var(--primary-color);
  outline: none;
  min-height: 35px;
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
}

.readonly {
  opacity: .7;
  pointer-events: none;
}