:root {
  --font-family-m: "Roboto", 'Times New Roman', sans-serif;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-m);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-m);
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-m);
  --navbar-height: 60px;
  --sidebar-width: 300px;
  --sidebar-collapsed-width: 80px;
  --modal-z-index: 1;
  --overlay-z-index: -1;
  --overlay-color: rgba(0 0 0 / 50%);
  --red-light-color: rgb(248 14 14);
  --red-dark-color: rgb(202 21 21);

  // Redesined

  --font-family-main: "Inter", 'Times New Roman', sans-serif;
  --font-size-xs: 12px;
  --font-line-xs: 16px;
  --font-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-family-main);

  --font-size-sm: 14px;
  --font-line-sm: 18px;
  --font-sm: var(--font-size-sm) / var(--font-line-sm) var(--font-family-main);

  --font-size-base: 16px;
  --font-line-base: 20px;
  --font-base: var(--font-size-base) / var(--font-line-base) var(--font-family-main);

  --font-size-xl-redesigned: 24px;
  --font-line-xl-redesigned: 28px;
  --font-xl-redesigned: var(--font-size-xl-redesigned) / var(--font-line-xl-redesigned) var(--font-family-main);
}
