
.primary {
  color: var(--main-font-color);
}

.inverted {
  color: var(--main-font-inverted-color);
}

.accent {
  color: var(--accent-color);
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.xs {
  font: var(--font-xs);
}

.sm {
  font: var(--font-sm);
}

.base {
  font: var(--font-base);
}

.xl {
  font: var(--font-xl-redesigned);
}