.title {
  font: var(--font-l);
  color: var(--primary-color);
}

.text {
  font: var(--font-m);
  color: var(--secondary-color);
}

.error {
  .title {
    color: var(--red-light-color);
  }

  .text {
    color: var(--red-dark-color);
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}