.ArticlesPageFilter {
  width: 100%;
  margin-bottom: 20px;
}

.sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.select {
  display: inline-block;
}

.search {
  width: 100%;
}