.Button {
  cursor: pointer;
  display: flex;
  color: var(--primary-color);
}

.clear {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

.outline {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  padding: 5px;
}