.Button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 2px 30px;
  transition: all 150ms linear;
  font: var(--font-xs);
  font-weight: 600;
  border-radius: 7px;
  border: none;
}

.small {
  min-height: 30px;
}

.large {
  min-height: 35px;
}

.clear {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  color: var(--button-color-secondary);
}

.app_light_theme {
  &.primary {
    background-color: var(--button-color-secondary);
    color: var(--bg-color-redesigned);

    &:hover {
      background-color: var(--button-color-primary);
    }

    &:active {
      background-color: var(--button-color-tertiary);
    }
  }

  &.secondary {
    color: var(--button-color-secondary);
    background-color: var(--bg-color-redesigned);

    &:hover {
      color: var(--button-color-primary);
    }

    &:active {
      color: var(--button-color-tertiary);
    }
  }

  &.tertiary {
    background-color: var(--bg-color-redesigned);
    border: 1px solid var(--button-color-secondary);
    color: var(--button-color-secondary);

    &:hover {
      border-color: var(--button-color-primary);
      color: var(--button-color-primary);
    }

    &:active {
      border-color: var(--button-color-tertiary);
      color: var(--button-color-tertiary);
    }
  } 
}

.app_dark_theme {
  &.primary {
    background-color: var(--bg-inverted-color-redesigned);
    color: var(--button-color-primary);
  }
  &.secondary {
    background-color: var(--bg-inverted-color-redesigned);
    color: var(--main-color-primary);

    &:hover {
      color: #356e78;
    }

    &:active {
      color: var(--main-color-primary);
    }
  }
  &.tertiary {
    background-color: var(--button-color-primary);
    color: var(--bg-inverted-color-redesigned);
    border: 1px solid var(--bg-inverted-color-redesigned);

    &:hover {
      background-color: var(--button-color-secondary);
    }

    &:active {
      background-color: var(--button-color-tertiary);
    }
  }
}