.Sidebar {
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background-color: var(--bg-inverted-color);
  transition: width 150ms linear;
  position: relative;
  container: sidebar / inline-size;
}

.collapsed {
  width: var(--sidebar-collapsed-width);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  & > * {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.switchers {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & > *:not(:last-child) {
    margin: 0 10px 0 0;
  }
}

.collapsedBtn {
  position: absolute;
  bottom: 20px;
  right: -32px;
}

@container sidebar (width <= 80px) {
  .links {
    & > * {
      justify-content: center;

      span {
        display: none;
      }
    }
  }

  .switchers {
    flex-direction: column;

    & > *:not(:last-child) {
      margin: 0 0 10px;
    }
  }
}
