// .ArticleList {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   column-gap: 20px;
//   row-gap: 30px;
// }

// .list {
//   display: block;
// }

.articleWrapper {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.Skeleton {
  .image {
    margin-bottom: 10px;
  }

  .info {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .user {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .title {
    margin-bottom: 15px;
  }

  .type {
    margin-bottom: 15px;
  }

  .paragraph {
    margin-bottom: 15px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}