.Skeleton {
  width: 100%;
  min-height: 50px;
	background-color: var(--skeleton-bg-color);
	background-image:			
			linear-gradient(
				90deg, 
				transparent 0%, 
				var(--skeleton-gradient) 50%,
				transparent 100%
			);
	background-size: 40px 100%; 
	background-repeat: no-repeat; 
	background-position: left -40px top 0;
	animation: shine 1s ease infinite;
}

@keyframes shine {
	to {
		background-position: right -40px top 0;
	}
}