.app_blue_theme {
  --bg-color: #fff;
  --bg-inverted-color: #081cf6;
  --primary-color: #081cf6;
  --secondary-color: #081cf6;
  --primary-inverted-color: #fff;
  --secondary-inverted-color: #fff;
  --skeleton-bg-color: #e2e5e7;
  --skeleton-gradient: #fff;
  --code-bg: #d5d5d5;
  --card-bg: #ededed;
}
