.app_dark_theme {
  --bg-color: #000213;
  --bg-inverted-color: #F4F5FB;
  --primary-color: #F4F5FB;
  --secondary-color: #F4F5FB;
  --primary-inverted-color: #000213;
  --secondary-inverted-color: #000213;
  --skeleton-bg-color: #01031d;
  --skeleton-gradient: #898787;
  --code-bg: #010630;
  --card-bg: #010630;

  // Redesigned

  --main-color-primary: #24484e;
  --main-color-secondary: #183a40;
  --main-inverted-color-secondary: #365b61;
  --bg-color-redesigned: #252525;
  --bg-inverted-color-redesigned: #fdfdfd;
  --accent-color: #f15a3b;
  --accent-dark-color: #fb7a7a;
  --accent-dark-inverted-color: #c83939;
  --main-font-color: #fdfdfd;
  --main-font-inverted-color: #191919;
  --secondary-font-color: #929292;
  --secondary-dark-font-color: #717171;
  --input-color: #717171;
  --input-color-active: #606060;
  --input-color-secondary: #606060;
  --input-color-tertiary: #454545;
  --button-inverted-color-primary: #40808a;
  --button-inverted-color-secondary: #365b61;
  --button-inverted-color-tertiary: #183a40;
  --button-color-primary: #252525;
  --button-color-secondary: #363636;
  --button-color-tertiary: #191919;
  --dropdown-color-primary: #454545;
}