.app_dark_theme {
  --bg-color: #000213;
  --bg-inverted-color: #F4F5FB;
  --primary-color: #F4F5FB;
  --secondary-color: #F4F5FB;
  --primary-inverted-color: #000213;
  --secondary-inverted-color: #000213;
}