.app_light_theme {
  --bg-color: #F4F5FB;
  --bg-inverted-color: #000213;
  --primary-color: #000213;
  --secondary-color: #000213;
  --primary-inverted-color: #F4F5FB;
  --secondary-inverted-color: #F4F5FB;
  --skeleton-bg-color: rgb(230 226 226);
  --skeleton-gradient: #fff;
  --code-bg: #d5d5d5;
}