.ArtcileRecommendationList {
  margin-top: 15px;
}

.title {
  margin-bottom: 15px;
}

.articles {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 20px;
}

.article {
  flex: 1 1 25%;
}