.Navbar {
  display: flex;
  padding: 0 20px;
  align-items: center;
  width: 100%;
  background-color: blue;
  min-height: var(--navbar-height);
}

.links {
  display: flex;
  align-items: center;
  margin-left: auto;

  & > *:not(:last-child) {
    margin-right: 10px;
  }
}