
.NotificationButtonDeprecated{
  display: flex!important;
  align-items: center;
  justify-content: center;
}

.notificationIconDeprecated {
  fill:  var(--secondary-inverted-color);
}

.NotificationButton {
  display: flex!important;
  align-items: center;
  justify-content: center;
}

.notificationIcon {
  color: var(--main-font-color);
}

.notifications {
  min-width: 300px;
  max-width: 600px;
  max-height: 500px;
  overflow: auto;
}