.Dropdown {
  position: relative;
  display: inline-block;
}

.btn {
  margin: 0;padding: 0;
  outline: none; border: none;
}

.items {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-inverted-color);
  min-width: 200px;
  z-index: 1;
}

.item {
  width: 100%;
  cursor: pointer;
  background-color: var(--bg-inverted-color);
  color: var(--primary-inverted-color);
  border: none;
  padding: 5px 10px;
  transition: all 200ms linear;
  font: var(--font-m);

  @media (hover: hover) {
    &:hover {
      opacity: .7;
    }
  }
}

.bottom_left {
  top: 100%;
  left: 0;
}

.bottom_right {
  top: 100%;
  right: 0;
}

.top_left {
  bottom: 100%;
  left: 0;
}

.top_right {
  bottom: 100%;
  right: 0;
}
