.CommentList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skeleton {
  border: 1px solid var(--primary-color);
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}