.AppLink {
  color: var(--primary-color);
  transition: opacity 150ms linear;

  &:hover {
    opacity: .8;
  }
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-inverted-color)
}